@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Your custom styles can be added below */
@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    font-weight: 900 !important;
    text-transform: uppercase;
  }
  body {
    @apply bg-travvit-orange/10 !p-0;
  }
}


@layer components {
  .dark-img {
    @apply dark:filter dark:brightness-75;
  }

  .highlighted-image {
    /* flex: 1 0 41.67%; */
    animation: grow 0.5s ease-in forwards;
  }

  @keyframes grow {
    0% {
      transform: scale(1);
      margin: 0;
    }
    /* 80% {
      transform: scale(1.15);
    } */
    100% {
      transform: scale(1.15);
      margin: 1.5rem;
    }
  }

  .full-page-scroll {
    overflow-y: scroll;
    height: 100vh;
  }

  .regular-text {
    @apply text-slate-900 dark:text-slate-300;
  }

  .icon {
    @apply w-6 h-6 opacity-50 text-slate-500 dark:text-slate-200;
  }

  button.primary .icon {
    @apply text-white;
  }

  button .icon {
    @apply text-travvit-blue-700;
  }

  .footer-social-link {
    @apply opacity-40 hover:opacity-60 ml-6 first:ml-0 text-slate-500 dark:text-slate-300 hover:dark:text-slate-200;
  }

  .footer-menu {
    @apply mt-6;
  }

  .footer-menu li {
    @apply mt-4 first:mt-0;
  }

  .footer-menu-item-link, .main-menu-item-link {
    @apply text-slate-600 hover:text-slate-900 dark:text-slate-300 hover:dark:text-slate-200;
  }

  .main-menu-item-link .icon {
    @apply !text-slate-600 hover:!text-slate-900 dark:!text-slate-300 hover:dark:!text-slate-200;
  }

  .hidden-text {
    @apply absolute w-px h-px p-0 -m-px overflow-hidden whitespace-nowrap border-0;
  }

  .mobile-menu {
    overflow-y: scroll;
    max-height: calc(90%);
    scrollbar-width: thin; /* Set the width of the scrollbar */
    scrollbar-color: transparent transparent; /* Set the color of the scrollbar track and thumb */
  }

  .mobile-menu.logged-in {
    max-height: calc(80%);
  }

  .mobile-menu::-webkit-scrollbar {
    width: 8px; /* Set the width of the scrollbar */
  }
  
  .mobile-menu::-webkit-scrollbar-track {
    background-color: transparent; /* Set the background color of the scrollbar track */
  }
  
  .mobile-menu::-webkit-scrollbar-thumb {
    background-color: transparent; /* Set the color of the scrollbar thumb */
  }

  .places-group {
    @apply grid justify-items-center grid-cols-1 gap-x-4 gap-y-36;
    @apply  md:justify-items-start md:grid-cols-2;
    @apply  lg:grid-cols-3;
    @apply  dt_small:grid-cols-3 gap-x-6;
    @apply  dt_lg:grid-cols-4 gap-x-6;
    @apply  mb-36;
  }

  .section-header {
    @apply xs:text-2xl sm:text-4xl md:text-5xl capitalize my-8 ml-1 mt-8 text-slate-600;
  }
}
